* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: linear-gradient(135deg, #000000, #8b0000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(21, 8, 8, 0.969);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
    backdrop-filter: blur(5px);
    transform: translateY(-50px);
    transition: transform 0.3s;
}

.container:hover {
    transform: translateY(-55px);
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #8b0000;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

button {
    background-color: #8b0000;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #5a0000;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.register {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #8b0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}